body{
    background-color: #A6E3E9;
}
.ParentDiv{
    background-color: #A6E3E9; 
    padding-top: 80px;  
}
.StarDiv{
    background-color: #C4D7B2;
    max-width: 60%;
    margin: auto;
}
.mainRow:hover{
    box-shadow:  0 3px 10px black;   
}
.star_header{
    position: absolute;
    top: 50px;
    left: 670px;
    color: #0E8388;
}
